/app/assets/.api_keys/*
/app/assets/.api_keys/keys.txt
/app/assets/.api_keys/keys_backup.txt
/data/input/tests/*
/.archive/
/data/vector_db_test/*
/data/vector_db/*
/data/.vector_db_backup/
/data/.vector_db_backup/*
